:root {
    --bg-color: #c5c5cf;
    --text-color: #000a0a;
    --bg-light: #fff5ff;
    --accent-color: #45033d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 14px;
}

 .CalcContainer {
    background-color: white;
    flex: 1;
    border-radius: 14px;
    padding: 14px;
    flex-direction: column;
    gap: 14px;
}

.display{
    background-color: var(--bg-light);
    padding: 14px;
    border-radius: 8px;
    border: 2px solid var(--text-color);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    font-size: 1.6em;
    line-height: 1rem;
    overflow: hidden;
}

.display h1{
    white-space: nowrap;
    text-align: end;
    font-family: 'Handjet', sans-serif;
    font-weight: 800;
}

.BtnsContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 8;
}

.BtnsRow {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 14px;
    flex: 4;
}   

.smlRow {
    flex: 3 !important;
}

