/* Define custom variables for colors */
:root {
    --bg-color: #12122d;
    --text-color: #ecf7f7;
    --bg-light: rgb(35, 1, 35);
    --accent-color: #45033d;
}

/* Reset default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    font-size: 700; 
}

/* Styling for the entire page */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* Styling for the calculator container */
.CalcContainer {
    background-color: white;
    flex: 1;
    border-radius: 14px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    min-height: 400px;
}

/* Styling for the display area */
.display {
    background-color: var(--bg-light);
    padding: 14px;
    border-radius: 8px;
    border: 2px solid var(--text-color);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
    font-size: 1.6em;
    line-height: 1rem;
    overflow: hidden;
}

.display h1 {
    white-space: nowrap;
    text-align: end;
    font-family: 'Handjet', sans-serif;
    font-weight: 800;
}

/* Styling for the buttons container */
.BtnsContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 8;
}

/* Styling for each row of buttons */
.BtnsRow {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 14px;
    flex: 4;
}

/* Styling for smaller rows with bold font */
.smlRow {
    flex: 3 !important;
    font-weight: bold;
}

/* Specific styling for buttons in the smaller row */
.smlRow > button:nth-child(1),
.smlRow > button:nth-child(2) {
    background-color: white !important;
    color: var(--bg-color) !important;
    border: 1px solid var(--bg-color);
}

.smlRow > button:nth-child(3),
.smlRow > button:nth-child(4) {
    background-color: orangered !important;
    border-radius: 30% !important;
}

/* Common styling for all buttons */
.btn {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--bg-color);
    border-radius: 8px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition-duration: 200ms;
}

/* Hover effect for buttons */
.btn:hover {
    opacity: 0.7;
}

/* Styling for the text inside buttons */
.btn p {
    font-size: 1.2rem;
}

/* Specific styling for the third button in the last row */
.BtnsRow:last-child > .btn:nth-child(3) {
    background-color: white !important;
    color: var(--bg-color) !important;
    border: 2px solid var(--bg-color);
}
